.lem-dropdown {
    display: inline-block
    position: relative
    }

.lem-dropdown-menu{
    position: absolute
    display: flex
    flex-direction: column

    top 100% + 5px
    left: 0 

    padding-top: base-padding
    padding-bottom: base-padding
    
    min-width: 100%
    max-width: 150%
    overflow:hidden

    background-color: white
    color: black

    border: 1px solid #999
    border-radius: baseBorderRadius

    z-index: 10
    }

.lem-dropdown-menu-item {
    text-align: center
    padding: basePadding
    &:not(:last-child) {
        }
    &:hover {
        background-color: #eee
        }
    &:active {
        background-color: colorPrimary 
        color: white
        }
    }