h1 -- Button
lem-button variant='primary' -- Primary
lem-button variant='secondary' -- Secondary
lem-button variant='success' -- Success
lem-button variant='danger' -- Danger
lem-button variant='warning' -- Warning
lem-button variant='info' -- Info
lem-button variant='light' -- Light
lem-button variant='dark' -- Dark