.lem-input {
    min-height: input-base-height
    font-size: input-font-size

    border:none
    border-radius: input-border-radius

    background-color: inherit

    box-shadow:none
}
lem-input-variant(vid, base, textColor, borderColor, Colorthree){
}
variant-vendor(input-base-class, lem-input-variant)