.lem-skel {
    
}
lem-skel-variant(variantColor, textColor, borderColor){
}


.lem-skel-variant--default 
{
    lem-skel-variant(colorDefault, black, #999)
}

/** Variant Specificities*/
.lem-skel-variant--primary 
{
    lem-skel-variant(colorPrimary, white, colorPrimary)
}

.lem-skel-variant--secondary 
{
    lem-skel-variant(colorSecondary,white,colorSecondary)
}

.lem-skel-variant--success 
{
    lem-skel-variant(colorSuccess,white, colorSuccess)
}

.lem-skel-variant--danger 
{
    lem-skel-variant(colorDanger, white,colorDanger)
}

.lem-skel-variant--warning 
{
    lem-skel-variant(colorWarning, black, colorWarning)
}
.lem-skel-variant--info 
{
    lem-skel-variant(colorInfo,white,colorInfo)
}
.lem-skel-variant--light 
{
    lem-skel-variant(colorLight,black,colorLight)
}
.lem-skel-variant--dark 
{
    lem-skel-variant(colorDark,white,colorDark)
}