.lem-button {
    display: inline-flex
    align-items: center
    justify-content: center

    margin:0
    padding-top: 0
    padding-bottom: 0

    min-height: buttonBaseHeight
    max-height: buttonBaseHeight

    overflow: hidden

    border-radius: baseBorderRadius;
    border: none

    box-shadow: none;    
}

.lem-button-sm {
    min-height: buttonHeightsm
    max-height: buttonHeightsm
    }
.lem-button-md {
    min-height: buttonHeightmd
    max-height: buttonHeightmdpx 
    }
.lem-button-lg {
    min-height: buttonHeightlg
    max-height: buttonHeightlg 
    }
.lem-button-icon{
    padding-right: buttonIconPadding
    &:only-child {
        padding: inherit
        padding-left:0
        padding-right:0
    }
}
.lem-button-label {
    font-size: button-font-size
}
.lem-button--fullWidth{
    width:100%;
}

lem-button-variant(vid, color, textColor, borderColor){
    background-color: color
    color: textColor
    border: 1px solid borderColor;
    &:disabled {
        background-color: lighten(color, baseLightenAmount)
        border-color: lighten(color, baseLightenAmount)
        }
    &:active:not(:disabled) {
        background-color: darken(color, baseDarkenAmount/2)
        }
    &.lem-button--outline {
        lem-button--outline(color, textColor);
        }
    &.lem-button--text {
        background-color: inherit
        border: none
        color:color
        &:active:not(:disabled) {
            background-color: inherit;
            background-image:
                radial-gradient(
                circle closest-side,
                lighten(color, baseLightenAmount*2),
                rgba(0,0,0,0)
                );

            }
        }
}

lem-button--outline(color, textColor){
    background-color: inherit;
    color: color
     &:disabled {
        color: lighten(color, baseLightenAmount)
        }
     &:hover:not(:disabled) {
         background-color: color
         color: textColor
         }
}

variant-vendor(button-base-class, lem-button-variant)
