.lem-button {
    display: inline-flex
    align-items: center
    justify-content: center
    background-color:inherit;
    box-shadow: none;
    border-radius: baseBorderRadius;
    border: none
    margin:0
    padding-top: 0
    padding-bottom: 0
    min-height: 32px
    max-height: 32px
    overflow: hidden

}

.lem-button-sm {
    min-height: 24px
    max-height: 24px 
    }
.lem-button-md {
    min-height: 32px
    max-height: 32px 
    }
.lem-button-lg {
    min-height: 40px
    max-height: 40px 
    }
.lem-button-icon{
    padding-right: basePadding
    &:only-child {
        padding: inherit
        padding-left:0
        padding-right:0
    }
}
.lem-button-label {
    font-size: 18px
}
.lem-button--fullWidth{
    width:100%;
    }



lem-button-variant(color, textColor, borderColor){
    background-color: color
    color: textColor
    border: 1px solid borderColor;
    &:disabled {
        background-color: lighten(color, baseLightenAmount)
        border-color: lighten(color, baseLightenAmount)
        }
    &:active:not(:disabled) {
        background-color: darken(color, baseDarkenAmount/2)
        }
    &.lem-button--outline {
        lem-button--outline(color, textColor);
        }
    &.lem-button--text {
        background-color: inherit
        border: none
        color:color
        &:active:not(:disabled) {
            background-color: inherit;
            background-image:
                radial-gradient(
                circle closest-side,
                lighten(color, baseLightenAmount*2),
                rgba(0,0,0,0)
                );

            }
        }
}

lem-button--outline(color, textColor){
    background-color: inherit;
    color: color
     &:disabled {
        color: lighten(color, baseLightenAmount)
        }
     &:hover:not(:disabled) {
         background-color: color
         color: textColor
         }
}

.lem-button-variant--default 
{
    lem-button-variant(white, black, #999)
}

/** Variant Specificities*/
.lem-button-variant--primary 
{
    lem-button-variant(colorPrimary, white, colorPrimary)
}

.lem-button-variant--secondary 
{

    lem-button-variant(colorSecondary,white,colorSecondary)
}

.lem-button-variant--success 
{

    lem-button-variant(colorSuccess,white, colorSuccess)
}

.lem-button-variant--danger 
{
    lem-button-variant(colorDanger, white,colorDanger)
}

.lem-button-variant--warning 
{
    lem-button-variant(colorWarning, black, colorWarning)
}
.lem-button-variant--info 
{
    lem-button-variant(colorInfo,white,colorInfo)
}
.lem-button-variant--light 
{
    lem-button-variant(colorLight,black,colorLight)
}
.lem-button-variant--dark 
{
    lem-button-variant(colorDark,white,colorDark)
}