.lem-form {
    display:flex
    flex-direction: column
    justify-content: center
    align-items: center

}

lem-form-variant(vid, base, textColor, Colortwo, Colorthree){
}

variant-vendor(button-base-class, lem-form-variant)
