.lem-button {
    background-color:white;
    min-height: buttonBaseHeight;
    box-shadow: none;
    border-radius: baseBorderRadius;
    border: none
}

.lem-button-variant--primary 
{
    background-color: colorPrimary
}

.lem-button-variant--secondary 
{
    background-color: colorSecondary
}

.lem-button-variant--success 
{
    background-color: colorSuccess
}

.lem-button-variant--danger 
{
    background-color: colorDanger
}

.lem-button-variant--warning 
{
    background-color: colorWarning
}
.lem-button-variant--info 
{
    background-color: colorInfo
}
.lem-button-variant--dight 
{
    background-color: colorLight
}
.lem-button-variant--dark 
{
    background-color: colorDark
}