/** default color values */
colorWhite = #fff
colorBlue = #007bff
colorGray = #6c757d
colorGreen = #28a745
colorRed = #dc3545
colorYellow = #ffc107
colorTeal = #17a2b8
colorLightGray = #f8f9fa
colorDarkGray = #343a40
/** Themeing colors used everywhere else*/
colorDefault = colorWhite
colorPrimary = colorBlue
colorSecondary = colorGray 
colorSuccess = colorGreen 
colorDanger = colorRed
colorWarning = colorYellow 
colorInfo = colorTeal 
colorLight = colorLightGray
colorDark = colorDarkGray

// get-variant-colors(variant)
//     if variant == 'default'
//         return variant-defualt-color-base variant-defualt-color-one variant-defualt-color-two variant-defualt-color-three
/** Default Variant Colors */
variant-default-id = 'default'
variant-defualt-color-base = colorDefault
variant-defualt-color-one = black
variant-defualt-color-two = #999
variant-defualt-color-three = black
variant-default = variant-default-id variant-defualt-color-base variant-defualt-color-one variant-defualt-color-two variant-defualt-color-three

/** primary Variant Colors */
variant-primary-id = 'primary'
variant-primary-color-base = colorPrimary
variant-primary-color-one = white
variant-primary-color-two= colorPrimary
variant-primary-color-three = black
variant-primary = variant-primary-id variant-primary-color-base variant-primary-color-one variant-primary-color-two variant-primary-color-three

/** secondary Variant Colors */
variant-secondary-id = 'secondary'
variant-secondary-color-base = colorSecondary
variant-secondary-color-one = white
variant-secondary-color-two= colorSecondary
variant-secondary-color-three = black
variant-secondary = variant-secondary-id variant-secondary-color-base variant-secondary-color-one variant-secondary-color-two variant-secondary-color-three

/** success Variant Colors */
variant-success-id = 'success'
variant-success-color-base = colorSuccess
variant-success-color-one = white
variant-success-color-two= colorSuccess
variant-success-color-three = black
variant-success = variant-success-id variant-success-color-base variant-success-color-one variant-success-color-two variant-success-color-three

/** danger Variant Colors */
variant-danger-id = 'danger'
variant-danger-color-base = colorDanger
variant-danger-color-one = white
variant-danger-color-two= colorDanger
variant-danger-color-three = black
variant-danger = variant-danger-id variant-danger-color-base variant-danger-color-one variant-danger-color-two variant-danger-color-three

/** warning Variant Colors */
variant-warning-id = 'warning'
variant-warning-color-base = colorWarning
variant-warning-color-one = black
variant-warning-color-two= colorWarning
variant-warning-color-three = black
variant-warning = variant-warning-id variant-warning-color-base variant-warning-color-one variant-warning-color-two variant-warning-color-three

/** info Variant Colors */
variant-info-id = 'info'
variant-info-color-base = colorInfo
variant-info-color-one = white
variant-info-color-two= colorInfo
variant-info-color-three = black
variant-info = variant-info-id variant-info-color-base variant-info-color-one variant-info-color-two variant-info-color-three

/** light Variant Colors */
variant-light-id = 'light'
variant-light-color-base = colorLight
variant-light-color-one = black
variant-light-color-two= colorLight
variant-light-color-three = black
variant-light = variant-light-id variant-light-color-base variant-light-color-one variant-light-color-two variant-light-color-three

/** dark Variant Colors */
variant-dark-id = 'dark'
variant-dark-color-base = colorDark
variant-dark-color-one = colorWhite
variant-dark-color-two= colorDark
variant-dark-color-three = black
variant-dark = variant-dark-id variant-dark-color-base variant-dark-color-one variant-dark-color-two variant-dark-color-three
