
/** default color values */
colorBlue = #007bff
colorGray = #6c757d
colorGreen = #28a745
colorRed = #dc3545
colorYellow = #ffc107
colorTeal = #17a2b8
colorLightGray = #f8f9fa
colorDarkGray = #343a40
/** Themeing colors used everywhere else*/
colorPrimary = colorBlue
colorSecondary = colorGray 
colorSuccess = colorGreen 
colorDanger = colorRed
colorWarning = colorYellow 
colorInfo = colorTeal 
colorLight = colorLightGray
colorDark = colorDarkGray

/** Util Variables */
baseBorderRadius = 4px;
basePadding = 4px;
baseLightenAmount = 66%;
baseDarkenAmount = 33%;
/** Alert Variabled */
alertTextDarken = 40%
alertBackgroundLighten = 75%
/** Button Variables */
buttonBaseHeight = 32px
buttonPadding = 16px 6px 16px 6px
