

/** Themeing colors used everywhere else*/
colorPrimary = blue
colorSecondary = gray 
colorSuccess = green 
colorDanger = red
colorWarning = yellow 
colorInfo = lightblue 
colorLight = white
colorDark = black

/** Util Variables */
baseBorderRadius = 4px;

/** Button Variables */
buttonBaseHeight = 32px